* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #fff;
  color: #121214;
}

body .modal-content{
  background-color: rgb(20, 20, 20, 0.95);
  color: #FFF;
}

body .btn-close{
  filter: invert();
}

body .modal-header{
  border-bottom: none;
}

body .modal-footer{
  border-top: none;
}

body div .colorGreen {
  background-color: #3AA394;
}

body div .colorYellow {
  background-color: #e1ac4f;
}

body div .colorGray {
  background-color: #686868;
}